@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
* {
  font-weight: 300;
}
kbd,
code,
pre {
  font-family: monospace;
}
body,
html {
  background: #000;
  font-family: 'Open Sans', sans-serif;
  color: #55565a;
  margin: 0;
  padding: 0;
}
body {
  font-size: 8px;
  background: #000;
  background-image: -moz-radial-gradient(#fff, #D4DDE4);
  overflow: hidden;
}
a {
  color: #00539F;
}
b {
  font-weight: bold;
}
.c {
  text-align: center;
}
#masthead {
  float: left;
  color: rgba(0, 0, 0, 0.5);
  margin: 1%;
}
section, [data-pos=after] {
  margin: 0;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
/*  -webkit-transition: 0.5s -webkit-transform ease-out;
  -moz-transition: 0.5s -moz-transform ease-in-out;
  -ms-transition: 0.5s -ms-transform ease-in-out;
  -o-transition: 0.5s -o-transform ease-in-out;
  transition: 0.5s transform ease-in-out;
*/
  -webkit-transform: translate(150rem, 0);
  -moz-transform: translate(150rem, 0);
  -ms-transform: translate(150rem, 0);
  -o-transform: translate(150rem, 0);
  transform: translate(150rem, 0);
}
[data-pos=before] {
  -webkit-transform: translate(-150rem, 0);
  -moz-transform: translate(-150rem, 0);
  -ms-transform: translate(-150rem, 0);
  -o-transform: translate(-150rem, 0);
  transform: translate(-150rem, 0);
}
[data-pos=active] {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.head {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 80%;
}
.drop {
  box-shadow: 0 5px 20px #000;
}
footer {
  font-size: 70%;
}

.shell.outer {
  width: 60rem;
  margin: 8rem auto 0;
}

.shell {
  padding: 3rem;
  border: .5rem solid #666;
  background: #eee;
  line-height: 5rem;
}

.shell.target {
  border-color: #FF9500;
  background: hsla(35, 100%, 87%, 1);
}

.shell.web {
  border-color: #0095DD;
  background: hsla(199, 100%, 87%, 1);
}

.title {
  background-image: url('fox-lead.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 55rem 50rem 0 10rem;
}
.title .wordmark {
  display: block;
  width: 40rem;
  margin-left: -3.5rem;
  margin-bottom: -8rem;
}
.title h1, .title h2 {
  text-align: left;
}
.title h2 {
  font-size: 4rem;
}

.wordmark {
  display: inline-block;
  width: 40rem;
  margin: -3rem;
}

ul.stack {
  color: #fff;
  width: 60rem;
  margin: auto;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-top: 15rem;
}
.stack li {
  line-height: 11rem;
  margin: 1rem;
}

.browser {
  margin: auto;
  width: 80rem;
  height: 60rem;
  margin-top: 10rem;
  border: .5rem solid #666;
  padding-top: 2rem;
  border-radius: 2rem 2rem 0 0;
}
.tab {
  border: .5rem solid #666;
  display: inline-block;
  vertical-align: bottom;
  height: 4rem;
  margin-left: 2rem;
  border-bottom-width: 0;
  border-radius: 1rem 1rem 0 0;
  width: 10rem;
}
.butt {
  float: left;
  width: 5rem;
  height: 5rem;
  margin: .5rem;
  border-radius: 5rem;
  border: .5rem solid #666;
}
.loc {
  float: left;
  border: .5rem solid #666;
  border-left: 0;
  width: 73.5rem;
  height: 4rem;
  margin-left: -1rem;
  position: absolute;
  top: 1rem;
  left: 5.5rem;
}
.url {
  border: .5rem solid #666;
  border-width: .5rem 0;
  height: 7rem;
  position: relative;
}
.browser.fade, .fade div, .fade span{
  border-color: #ccc;
}
.content {
  border: .5rem solid #FF9500 !important;
  background: hsla(35, 100%, 87%, 1);
  height: 46rem;
  line-height: 40rem;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}